<div class="user-details">
  <h1> {{site.data.locales[page.lang].projects}} </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mecanom_withoutbg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> {{site.data.locales[page.lang].project_title1}} </h3>
    <!--<ul>-->
      <!--<li> Featured Skills</li>-->
    <!--</ul>-->
    <p>{{site.data.locales[page.lang].project_description1}}</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.mecanom.android&hl=fr">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/diskobwithnobg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> {{site.data.locales[page.lang].project_title2}} </h3>
    <!--<ul>-->
      <!--<li> Featured Skills</li>-->
    <!--</ul>-->
    <p> {{site.data.locales[page.lang].project_description2}}</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.thinkinnov.diskob&hl=fr">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pos2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> {{site.data.locales[page.lang].project_title3}} </h3>
    <!--<ul>-->
      <!--<li> Featured Skills</li>-->
    <!--</ul>-->
    <p> {{site.data.locales[page.lang].project_description3}}</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/payroll.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> {{site.data.locales[page.lang].project_title4}} </h3>
    <!--<ul>-->
      <!--<li> Featured Skills</li>-->
    <!--</ul>-->
    <p> {{site.data.locales[page.lang].project_description4}}</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
