.footer {
  //background: $main;
  background-color: #333;
  padding: 2.7rem 0;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  .love {
    color: red;
  }
  a {
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
  .back-to-top i {
    color: #fff;
    margin: 0.5rem 0 0.5rem;
    transition: all .2s ease-in;
  }
  .fa-2x {
    font-size: 2.5em;
  }
  .footer__text, .footer__text a {
    color: grey;
    font-size: 0.8rem;
  }
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid hsla(0,0%,100%,.1);
  }
}

.social-links a {
  flex-direction: column;
  color: #fff;
  font-size: 2.1rem;
  width: 2rem;
  height: 2rem;
  margin: 1.6rem;
  transition: all .2s ease-in;
}
.social-links, .social-links a {
  display: flex;
  justify-content: center;
}